.DS_Store
__pycache__
.ipynb_checkpoints

bin/
lib/
etc/
share/

pyvenv.cfg

provided_autotrader*
autotrader*
!autotrader.py
!autotrader.json

dummy*
retard*
dumbass*

exchange.log
match_events.csv
score_board.csv
info.dat

market_data_intersected.csv
market_data_merged.csv

volume_signals.txt
temp.txt
temp.ipynb
