.DS_Store
__pycache__
.ipynb_checkpoints

bin/
lib/
analysis/

pyvenv.cfg
provided_autotrader*.*

autotrader.log
exchange.log
match_events.csv
score_board.csv
info.dat

volume_signals.txt
temp.txt
temp.ipynb
dumbass*