.DS_Store
__pycache__
.ipynb_checkpoints

bin/
lib/
etc/
share/

pyvenv.cfg
provided_autotrader*.*

autotrader.log
exchange.log
match_events.csv
score_board.csv
info.dat

volume_signals.txt
temp.txt
dumbass*
retard.*

provided*

interval_comparison.csv
round_values.csv
fill_rates.csv